/* Navigation Styles */
header {
  width: 100px;
  cursor: pointer;
}

header h1, 
.primary_nav_bar li {
  text-transform: uppercase;
}

.primary_nav_bar li {
  margin: 10% 5%;
  padding-bottom: 5px;
  border-bottom: 2px solid lightgray;
  list-style: none;
}

.primary_nav_bar li:hover {
  border-bottom-color: #45e9f5;
}